[submodule "ext/MCMCSimulationLib"]
	path = ext/MCMCSimulationLib
	url = https://github.com/statphysandml/MCMCSimulationLib.git
[submodule "examples"]
	path = examples
	url = https://github.com/statphysandml/LatticeModelImplementations.git
